<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
   <link rel="icon" href="/img/download (1).jpg">
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="main-content">
    <h1>FOR ANY ISSUE. 
      EMAIL AT : weather@7226yahoo.com</h1>
<h2>GO BACK TO</h2>
<a href='/' class="q">Weather</a>
   </div>
 {{>footer}}
</body>
</html>